<mat-card *ngIf="this.recipe as recipe" [routerLink]="recipe.id+'/details'">
    <mat-card-content>
        <div fxLaoyut="row" fxLayoutAlign="space-between center">
            <mat-card-title>{{ recipe.title }}</mat-card-title>
            <button mat-icon-button (click)="this.recipeService.toggleFavourite(recipe)">
                <mat-icon>{{ (recipe.favourite) ? "star" : "star_border" }}</mat-icon>
            </button>
        </div>
        <p class="truncat">{{ recipe.description }}</p>
    </mat-card-content>
</mat-card>