<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <mat-card *ngIf="this.recipe as recipe">
        <mat-card-content fxLayout="column" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <button mat-icon-button routerLink="/">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                <h1>Detail</h1>
                <button mat-icon-button (click)="this.recipeService.toggleFavourite(recipe)">
                    <!-- <mat-icon>{{ (recipe.favourite) ? "star" : "star_border" }}</mat-icon> -->
                    <mat-icon>{{ (this.recipe$ | async).favourite ? "star" : "star_border" }}</mat-icon>
                </button>
            </div>
            <h2>{{ recipe.title }}</h2>
            
            <mat-list>
                <mat-list-item *ngFor="let ingredient of recipe.ingredient">{{ ingredient }}</mat-list-item>
            </mat-list>

            <p>{{ recipe.description }}</p>

        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-icon-button color="warn" (click)="this.remove(recipe)">
                    <mat-icon>delete</mat-icon>
                </button>

                <button mat-icon-button routerLink="../edit">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>